/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    padding-right: 10px;
    background: url("../images/bg.jpg");
    background-size:300%;
    background-position: top;
    background-repeat: no-repeat;
}

.container {
	 width: 100vw;
	 padding: 10px;
	 height: 100vh;
	 background: rgba(255, 255, 255, 0.9);
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

.header {
    font-family: 'Montserrat', sans-serif;
    color: purple;
	 display: block;
}

.desc {
    font-family: 'Raleway', sans-serif;	 
}

.continue {
    background: none;
    padding: 9px;
    border: 1px solid purple;
    color: purple;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    margin-top: 4px;
}

.continue:hover {
    opacity: 0.6;
}

.form {
    width: 100%;
}

@media only screen and (min-width: 370px) {
    .form, .intro {
        width: 360px;
    }
}

.formCard {
	 width: 100%;
	 background: linear-gradient(rgba(128, 0, 128, 0.3), rgba(0, 0, 128, 0.3));
	 padding: 30px;
	 border-radius: 8px;
	 color: purple;
}

label {
    display: block;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

input[type=text] {
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid purple;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    color: purple;
    font-family: 'Montserrat', sans-serif;
}

.center {
	text-align: center;
}

.btnGroup {
    width: 100%;
    display: block;
	 padding: 10px 0;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}

.btnGroup button {
    padding: 11px;
    border: none;
    color: purple;
    flex: 1;
    margin: 0 5px;
    border-radius: 3px;
	 background: linear-gradient(rgba(128, 0, 128, 0.3), rgba(0, 0, 128, 0.3));
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

.btnGroup button:disabled {
	opacity: 0.3;
	background: transparent;
	border: 1px solid purple;
	padding: 10px;
}